{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href='{% static "/styles.css" %}' rel='stylesheet'/>
    <title>Tesis</title>
</head>
<body>
    {% include "barra_nav.html" %}    
    <h1>Proyecto de Tesis</h1> 
    {%block content %} 
    
    {% endblock %}
    <br>
    <div id="container">
        <p>Pie de pagina</p>
    </div>
</body>
</html>